__pycache__
.Python
.Pipfile.lock
stock_visualizer_frontend/node_modules/
stock_visualizer_frontend/.env*
.ipynb_checkpoints/
data/
static_files/
node_modules/


# stock_visualizer_backend/.env
stock_visualizer_backend/stock_visualizer_backend/.env
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
C:UsersAdministrator.ssh

# dependencies
stock_visualizer_frontend/node_modules
stock_visualizer_frontend/.pnp
stock_visualizer_frontend.pnp.js

# testing
stock_visualizer_frontend/coverage

# production
stock_visualizer_frontend/build

# misc
stock_visualizer_frontend.DS_Store
stock_visualizer_frontend.env.local
stock_visualizer_frontend.env.development.local
stock_visualizer_frontend.env.test.local
stock_visualizer_frontend.env.production.local

stock_visualizer_frontendnpm-debug.log*
stock_visualizer_frontendyarn-debug.log*
stock_visualizer_frontendyarn-error.log*